@using Command.Commands
@using Command.CommandConsumers

@if (Command is not null)
{
    <tr class="command-history-row">
        <td class="command-history-item">
            <MudText Typo="Typo.body2">
                Removed @(Command.Item.Name)
            </MudText>
        </td>
        <td class="command-history-item-action">
            <MudIconButton
                OnClick="@OnRevertClicked"
                Icon="@Icons.Material.Filled.CallMissed"
                Variant="Variant.Filled"/>
        </td>
    </tr>
}

@code {

    [Parameter]
    public RemoveItemCommand? Command { get; set; }

    [Parameter]
    public ICommandConsumer? Consumer { get; set; }

    private void OnRevertClicked()
    {
        if (Consumer is null || Command is null)
            return;

        Consumer.Consume(Command.GetRevertCommand());
    }

}